In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('data.txt')

In [4]:
df.head()

   T  2   8  3  5  1  8.1  13  0  6  6.1  10  8.2  0.1  8.3  0.2  8.4
0  I  5  12  3  7  2   10   5  5  4   13   3    9    2    8    4   10
1  D  4  11  6  8  6   10   6  2  6   10   3    7    3    7    3    9
2  N  7  11  6  6  3    5   9  4  6    4   4   10    6   10    2    8
3  G  2   1  3  1  1    8   6  6  6    6   5    9    1    7    5   10
4  S  4  11  5  8  3    8   8  6  9    5   6    6    0    8    9    7

In [5]:
df.tail()

       T  2   8  3  5  1  8.1  13  0  6  6.1  10  8.2  0.1  8.3  0.2  8.4
19994  D  2   2  3  3  2    7   7  7  6    6   6    4    2    8    3    7
19995  C  7  10  8  8  4    4   8  6  9   12   9   13    2    9    3    7
19996  T  6   9  6  7  5    6  11  3  7   11   9    5    2   12    2    4
19997  S  2   3  4  2  1    8   7  2  6   10   6    8    1    9    5    8
19998  A  4   9  6  6  2    9   5  3  1    8   1    8    2    7    2    8

In [6]:
#splitting dataset into training and testing set

In [7]:
from sklearn.cross_validation import train_test_split

In [8]:
X=df.drop(['T'],axis=1)
y=df['T']

In [10]:
X.shape

(19999, 16)

In [11]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3)

In [12]:
from sklearn.metrics import classification_report

In [13]:
#logistic regression

In [14]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [15]:
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [16]:
pred=model.predict(X_test)

In [17]:
print(classification_report(y_test,pred))

             precision    recall  f1-score   support

          A       0.85      0.86      0.85       235
          B       0.62      0.77      0.69       215
          C       0.65      0.76      0.70       218
          D       0.77      0.78      0.78       239
          E       0.57      0.54      0.56       210
          F       0.80      0.67      0.73       254
          G       0.48      0.35      0.40       237
          H       0.40      0.49      0.44       206
          I       0.85      0.85      0.85       229
          J       0.89      0.75      0.81       243
          K       0.60      0.63      0.61       217
          L       0.83      0.73      0.78       255
          M       0.91      0.84      0.87       250
          N       0.81      0.75      0.78       239
          O       0.62      0.55      0.58       239
          P       0.82      0.86      0.84       229
          Q       0.54      0.71      0.61       224
          R       0.64      0.73      0.68       212
          S       0.52      0.54      0.53       210
          T       0.84      0.84      0.84       238
          U       0.84      0.83      0.84       240
          V       0.82      0.77      0.79       219
          W       0.83      0.87      0.85       220
          X       0.68      0.79      0.73       246
          Y       0.81      0.69      0.75       260
          Z       0.80      0.77      0.79       216

avg / total       0.73      0.72      0.72      6000

In [18]:
#SVM

In [19]:
from sklearn.svm import SVC
model=SVC()

In [20]:
model.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [21]:
pred=model.predict(X_test)

In [22]:
print(classification_report(y_test,pred))

             precision    recall  f1-score   support

          A       0.99      0.99      0.99       235
          B       0.93      0.97      0.95       215
          C       0.99      0.97      0.98       218
          D       0.96      0.97      0.96       239
          E       0.96      0.97      0.96       210
          F       0.98      0.98      0.98       254
          G       0.97      0.97      0.97       237
          H       0.93      0.92      0.93       206
          I       0.92      0.98      0.95       229
          J       0.99      0.91      0.95       243
          K       0.95      0.95      0.95       217
          L       0.99      0.98      0.98       255
          M       0.98      0.99      0.99       250
          N       0.99      0.98      0.99       239
          O       0.97      0.98      0.98       239
          P       0.98      0.97      0.97       229
          Q       0.99      0.97      0.98       224
          R       0.94      0.95      0.94       212
          S       1.00      0.99      0.99       210
          T       1.00      0.97      0.99       238
          U       0.98      0.99      0.99       240
          V       0.97      0.96      0.97       219
          W       0.99      0.99      0.99       220
          X       0.99      0.99      0.99       246
          Y       0.99      0.99      0.99       260
          Z       0.99      1.00      0.99       216

avg / total       0.97      0.97      0.97      6000

In [23]:
#Random Forest Classifier

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
model=RandomForestClassifier()

In [26]:
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [27]:
pred=model.predict(X_test)

In [28]:
print(classification_report(y_test,pred))

             precision    recall  f1-score   support

          A       0.96      0.98      0.97       235
          B       0.80      0.94      0.87       215
          C       0.97      0.97      0.97       218
          D       0.88      0.95      0.91       239
          E       0.91      0.90      0.90       210
          F       0.92      0.92      0.92       254
          G       0.94      0.94      0.94       237
          H       0.91      0.91      0.91       206
          I       0.92      0.96      0.94       229
          J       0.96      0.88      0.92       243
          K       0.89      0.92      0.90       217
          L       0.98      0.95      0.96       255
          M       0.95      0.95      0.95       250
          N       0.97      0.95      0.96       239
          O       0.89      0.94      0.91       239
          P       0.95      0.94      0.95       229
          Q       0.95      0.90      0.92       224
          R       0.90      0.90      0.90       212
          S       0.96      0.91      0.93       210
          T       0.96      0.95      0.95       238
          U       0.97      0.95      0.96       240
          V       0.96      0.94      0.95       219
          W       0.96      0.95      0.95       220
          X       0.95      0.96      0.96       246
          Y       0.98      0.93      0.95       260
          Z       0.96      0.95      0.95       216

avg / total       0.94      0.94      0.94      6000